@model TabloidMVC.Models.ViewModels.CommentViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="container pt-5">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Comment.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment.UserProfileId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment.CreateDateTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CommentList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserProfileId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDateTime)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.Id}) |
                        @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>